
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-image: url(./assets/bg.jpg);
 background-position: top center;
 background-size: 100% auto;
 background-repeat: no-repeat;
 background-color: #050505;

}


header {
 
  padding-top: 32px;
  height: calc (120px + 32px); 
 

 }

 header div {
  width: 120px;
  margin: auto;

  background-image: linear-gradient(90deg, #4105f5 0%, #04b62b 50.52%, #ebd61c 100%);

  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform .3s;
 }

 header div:hover{
  transform: scale(1.1);
}

 header div img {
  border-radius: 50%;
  width: 100%;
  
}

 main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  display: grid;
  gap: 24px;
  
 
}

section h2 {
  font-family: 'Ubuntu', sans-serif;

  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  
}

section p {
  font-family: 'Ubuntu', sans-serif;

  font-weight: 300;
  font-size: 16px;
  color: #C1C1C1;
}

section{
  color: white;

  background-image: linear-gradient(90deg, #4105f5 0%, #04b62b 50.52%, #ebd61c 100%);
  padding-top: 4px;
  border-radius: 10px;
}

 section div {
  background-color: #191a14;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
  
}

section ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  align-items: center;
}

section ul li {
  transition: transform .3s;
}

section ul li:hover{
  transform: scale(1.1);
}


.copa-list img {
  border-radius: 8px;
  width: 90px;
}

.player-list img {
  border-radius: 8px;
  width: 90px;
}

.sele-list img {
  border-radius: 50%;
  width: 70px;
  border: 1px solid #dbd483;
}

/*animação*/

header div {
  animation: fromTop .7s .2s backwards;
  
}

@keyframes fromTop {
  from{
    opacity: 0;
    transform: translateY(-30px)
  }

  to{
    opacity: 1;
    transform: translateY(0)
  }
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2){
  animation-delay: .3s;
}

main section:nth-child(3){
  animation-delay: .6s;
}

main section:nth-child(4){
  animation-delay: 1s;
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px)
  }



  to {
    opacity: 1;
    transform: translateY(0)
  }
}